    <!-- данный партиал рендерит отображение корзины закупок -->
    <tr> <!-- создаём ряд в таблице -->
      <td><%= line_item.quantity %> &times;</td> <!-- создаём ячейку в таблице. в этой ячейке будет отображено количество заказанного товара. берётся из поля quantinty таблицы line_items. передаётся в переменную партиала line_item. переменная называется так же, как партиал, без этого данные в переменную передаваться не будут -->
      <td><%= line_item.product.title %></td> <!-- создаём ячейку в таблице. в этой ячейке будет отображено название заказанного товара. берётся из поля title таблицы products. передаётся в переменную партиала line_item. переменная называется так же, как партиал, без этого данные в переменную передаваться не будут -->
      <td class="item_price"><%= number_to_currency(line_item.total_price) %></td> <!-- создаём ячейку в таблице. в этой ячейке будет отображена суммарная стоимость заказа. она берётся из метода total_price модели cart.rb -->
    </tr> <!-- заканчиваем описание ряда таблицы -->