<html>
<head>
<title>Заказать дизайн</title>
</head>
<body>
<p>Пожалуйста, заполните форму обратного звонка и наш секретарь свяжется с Вами:</p><br />

<form action = "/order" method = "POST">
    Имя:<br />
	<input type = "text" name = "username" /><br />
	 <br />
	Телефон:</br>
	<input type = "text" name = "telephone" /><br />
	 <br />
	Дата и время звонка:</br>
	<input type = "text" name = "date_time" /><br />
	 <br />
	Выберите дизайнера:</br>
	<select name = "designer">
  	<option>Дмитрий Паутов</option>
 	<option>Василий Еньдоншин</option>
    <option>Григорий Ростков</option>
    <option>Михаил Ступоров</option>
    <option >Геннадий Стенцов</option>
    </select><br />
    <br />
	<input type = "submit" value = "Отправить" name = "submit" class="btn btn-default" />

</form>
</body>
</html>