<h2>Add a new post</h2>
<p>We will add a new post here</p>
<form action = "/new" method = "POST" role = "form">
  <div class="form-group">
  <textarea class="form-control" rows="10"></textarea>
  <br />
  <button type="button" class="btn btn-primary">Submit</button>
</form>