<h3>Новый пост</h3>
<form action = "/new" method = "POST" role = "form">
  <div class="form-group">
  <br />
  <input type="text" class="form-control" name="title" placeholder="Тема поста">
  <br />
  <textarea class="form-control" name ="content" rows="10" placeholder = "Расскажите же нам всё"></textarea>
  <br />
  <button type="submit" class="btn btn-primary">YARRR</button>
</form>