<h2>Thank you!</h2>
<p>Article has been created</p>
<a href="/articles">Show all articles</a> <!-- Прямая ссылка на страницу /articles. Hard coded. При изменении Routes.rb придётся менять ссылку вручную -->
<br />
<%= link_to 'Show all articles!', articles_path %> <!-- ссылка на параметр articles_path. При изменении файла Routes.rb изменится автоматически -->