<h2>Your Cart</h2> <!-- Отображаем заголовок корзины -->
<table> <!-- создаём таблицу -->
  <%= render(@cart.line_items) %> <!-- метод render вставит на страницу отрендендеренный партиал, указанный в скобках. В данном случае - _line.item.html.erb из папки app/views/line_items -->
  
  <tr class="total_line"> <!-- создаём ряд в таблице c css-стилем total_line -->
    <td colspan="2">Total</td> <!-- объединяет две ячейки. это сделано для того, чтобы не поехало оформление таблицы -->
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td> <!-- создаём ячейку в таблице. в этой ячейке будет отображена суммарная стоимость заказа. она берётся из метода total_price модели cart.rb -->
  </tr> <!-- заканчиваем описание ряда таблицы -->

</table> <!-- закрытие описания таблицы -->
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %> <!-- добавляем кнопку, позволяющую очистить корзину -->