<p id="notice"><%= notice %></p>  <!-- вывод на экран уведомления, если это необходимо -->

<h2>Your Pragmatic Cart</h2> <!-- Отображаем заголовок корзины -->
<ul> <!-- создаём маркированный список -->
  <% @cart.line_items.each do |item| %> <!-- для каждого из элементов корзины будет выполнено следующее действие -->
    <li><%= item.quantity %> &times; <%= item.product.title %></li> <!-- отображение количества заказанного товара, а так же названия каждого из товаров в корзине -->
  <% end %> <!-- закрытие цикла each do -->
</ul> <!-- закрытие маркированного списка -->
