<p id="notice"><%= notice %></p>  <!-- вывод на экран уведомления, если это необходимо -->

<%= render @cart %>  <!-- метод render вставит на страницу отрендендеренный партиал, указанный в скобках. В данном случае - _cart.item.html.erb из папки app/views/carts -->